# --- API KEYS ---
GEMINI_API_KEY= # Your Gemini API key

# --- DATA PATHS ---
NETCDF_DATA_PATH= # Path to a CF compliant NetCDF file

# --- RAG ---
DOCS_PATH= # Path to the documents exposed through RAG
CHROMADB_PATH= # Path to the location your Chroma vector database will be created
CHROMADB_COLLECTION= # Name of the collection of documents in the vector database (e.g. "domain_knowledge")
