# --- API KEYS ---
GEMINI_API_KEY= # Your key

# --- DATA PATHS ---
NETCDF_DATA_PATH= # Your path

# --- RAG ---
DOCS_PATH= # Your path
CHROMADB_PATH= # Your path
CHROMADB_COLLECTION= # Your collection
